@tailwind base;
@tailwind components;
@tailwind utilities;

.blurred {
  /* Any browser which supports CSS3 */
  filter: blur(1px);

  /* Firefox version 34 and earlier */
  filter: url("../assets/blur.svg#gaussian_blur");

  /* Webkit in Chrome 52, Safari 9, Opera 39, and earlier */
  -webkit-filter: blur(1px);
}

@layer utilities {
  .glow-blue-text {
    /* Shadows/Text */
    text-shadow: 0px 0px 2px theme('colors.blue');  
  }

  .glow-blue {
    filter: drop-shadow(0px 0px 2px theme('colors.blue'));
  }

  .glow-highlight {  
    text-shadow: 0px 0px 2px theme('colors.highlight');
  }

  .glow-red-inner {
    background-color: #fff;
    box-shadow: 0px 4px 8px rgba(255, 0, 15, 0.2), 0px 5px 8px rgba(255, 0, 31, 0.6);
    padding: 8px 5px;
  }
  .glow-red-outer {
    background: rgba(219, 37, 37, 0.25);
    box-shadow: 0px 4px 4px rgba(224, 22, 34, 0.25), 0px 4px 4px rgba(208, 81, 89, 0.2);
    filter: blur(8px);
  }

  .glow-black {
    text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
  }
}

input:checked + div {
  @apply border-blue;
}
input:checked + div svg {
  @apply block;
}
.lds-circle {
    display: inline-block;
    transform: translateZ(1px);
  }
  .lds-circle > div {
    display: inline-block;
    width: 64px;
    height: 64px;
    margin: 8px;
    border-radius: 50%;
    background: #fff;
    animation: lds-circle 2.4s cubic-bezier(0, 0.2, 0.8, 1) infinite;
  }
  @keyframes lds-circle {
    0%, 100% {
      animation-timing-function: cubic-bezier(0.5, 0, 1, 0.5);
    }
    0% {
      transform: rotateY(0deg);
    }
    50% {
      transform: rotateY(1800deg);
      animation-timing-function: cubic-bezier(0, 0.5, 0.5, 1);
    }
    100% {
      transform: rotateY(3600deg);
    }
  }
