// Color Palette =======================

$blue: #001AFF;
$blue-80: #001AFFCC;
$black: #000000;
$error: #E50000;
$grey-66: #575757;
$grey-50: #808080;
$grey-33: #ABABAB;
$grey-lt: #D8D8D8;
$grey-xlt: #EEEEF0;
$highlight: #D7E440;
$accent: #9DDCEA;
$backgroundwhite: #FFFFFF;

// TYPOGRAPHY =======================

@mixin default {
  color: $black;
  font-family: "Neue Haas Unica Pro Regular";
  font-style: normal;
  text-align: left;
  margin: 0px;
}

@mixin base {
  @include default;
  font-size: 15px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: -0.009em;
}

@mixin thin{
  @include default;
  font-weight: 300;
}

@mixin small{
  @include default;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: -0.008em;
}

@mixin smallcaps{
  @include small;
  text-transform: uppercase;
}


// CURSOR =======================
@mixin defaultCursor{
  cursor: default;
  // cursor: url(assets/cursor/cursorNormal_shadow.svg) 7 2, auto;
}
@mixin pointerCursor{
  cursor: pointer;
  // cursor: url(assets/cursor/cursorHover_shadow.svg) 4 2, auto;
}
